@if((cartService.cartSource$ | async); as cart){
  <div class="table-responsive">
    <table class="table">
      <thead class="text-uppercase" [class.bg-light]="isCart">
        <tr>
          <th>
            <div class="py-2"><strong>Produto</strong></div>
          </th>
          <th>
            <div class="py-2"><strong>Preço</strong></div>
          </th>
          <th>
            <div class="py-2"><strong>Quantidade</strong></div>
          </th>
          <th>
            <div class="py-2"><strong>Tamanho</strong></div>
          </th>
          <th>
            <div class="py-2"><strong>Total</strong></div>
          </th>
          @if(isCart){
            <th>
              <div class="py-2"><strong>Remover</strong></div>
            </th>
          }

        </tr>
      </thead>
      <tbody>
        @for(item of cart.items; track item.id){
          <tr>
          <th>
            <div class="p2 d-inline-block">
              <img
                src="{{ item.pictureUrl }}"
                alt="{{ item.productName }}"
                class="img-fluid"
                style="max-height: 50px"
              />
              <div class="ms-3 d-inline-block align-middle">
                <h5 class="mb-0">
                  <a
                    class="text-decoration-none text-dark"
                    routerLink="/shop/{{ item.id }}"
                  >
                    {{ item.productName }}
                  </a>
                </h5>
                <span class="text-muted fst-italic"> Tipo: {{ item.type }} </span>
              </div>
            </div>
          </th>
          <td class="align-middle">
            <strong>{{ item.price | currency:'BRL' }}</strong>
          </td>
          <td class="align-middle">
            <div
              class="d-flex align-items-center"
              [class.justify-content-center]="!isCart"
            >
              @if(isCart){
                <i
                  class="fa fa-minus-circle text-warning me-2"
                  style="cursor: pointer; font-size: 2em"
                  (click)="removeCartItem(item.id, 1, item.size)"
                ></i>
              }
                <strong style="font-size: 1.5em">{{ item.quantity }}</strong>
                <strong style="font-size: 1.5em">{{ item.size }}</strong>
              @if(isCart){
                <i
                  class="fa fa-plus-circle text-warning mx-2"
                  style="cursor: pointer; font-size: 2em"
                  (click)="addCartItem(item)"
                ></i>
              }
            </div>
          </td>
          <td class="align-middle">
            <strong>{{ item.price * item.quantity | currency:'BRL' }}</strong>
          </td>

            @if(isCart){
              <td class="align-middle">
                <a class="text-danger">
                  <i
                    class="fa fa-trash"
                    style="font-size: 2em; cursor: pointer; margin-left: 1.3rem"
                    (click)="removeCartItem(item.id, item.quantity, item.size)"
                  ></i>
                </a>
              </td>
            }
          </tr>
      }
      </tbody>
    </table>
  </div>
}
