section {
  background-color: #000;
  color: #fff;
  margin-top: 65px;
  font-size: 1rem;
  display: flex;
}

h1 {
  color: #fff;
  font-size: 1.4rem;
}

a {
  color: orange;
  text-decoration: none;
}
