<mat-form-field class="w-100" appearance="fill">
  <input matInput
    [type]="type"
    [formControl]="control"
    [placeholder]="label"
    [ngClass]="(control.touched) ? control.invalid ? 'mat-warn' : 'mat-primary': null">
  @if(control.status === 'PENDING'){
    <div *ngIf="control.status === 'PENDING'" class="fa fa-spinner fa-spin loader"></div>
  }
  <mat-label>{{ label }}</mat-label>
  @if(label == 'E-mail' || label == 'Nome da Conta' || label == 'Nome' || label == 'Sobrenome' || label == 'Estado' || label == 'Código Postal' || control.errors?.['required']){
    <mat-error>Por favor preencha o {{ label | lowercase }}.</mat-error>
  } @else if(control.errors?.['required']) {
    <mat-error>Por favor preencha a {{ label | lowercase }}.</mat-error>
  }
  @if(control.errors?.['email']){
    <mat-error>E-mail invalido.</mat-error>
  }
  @if(control.errors?.['pattern']){
    <mat-error>Sua senha deve ter pelo menos 6 letras, uma maiúscula, uma minúscula, um número e um caractere especial.</mat-error>
  }
  @if(control.errors?.['emailExists']){
    <mat-error>Este e-mail está atualmente em uso.</mat-error>
  }
</mat-form-field>
