<mat-toolbar color="primary" class="d-flex flex-column flex-md-row align-items-center justify-content-between mb-1 shadow-sm fixed-top bg-white" >
  <img class="logo" src="/assets/images/Logo.svg" style="max-height: 35px" alt="logo" routerLink="/" />
  <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="my-1 mt-md-3 text-uppercase" style="font-size: larger">
    <a mat-tab-link routerLink="/" routerLinkActive [routerLinkActiveOptions]="{exact: true}" #rla="routerLinkActive" [active]="rla.isActive">Home</a>
    <a mat-tab-link routerLink="/shop" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">Loja</a>
    <a mat-tab-link routerLink="/orders" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">Pedidos</a>
  </nav>
  <div class="d-flex align-items-center">
    <a routerLink="/cart" class="position-relative">
      <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
      @if(cartSource$ | async; as Cart){
        <div class="cart-no">
          {{ getCount(Cart.items) }}
        </div>
      }
    </a>
    @if((currentUser$ | async) == null){
    <ng-container>
      <a routerLink="/account/login" mat-raised-button class="me-2">Entrar</a>
      <a routerLink="/account/register" mat-raised-button class="me-2">Registrar</a>
    </ng-container>
  }
    <ng-container *ngIf="currentUser$ | async as user">
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item routerLink="/admin" *ngIf="user && user.roles && user.roles.includes('Admin')">
          <mat-icon>edit</mat-icon>
          <span>Painel do Administrador</span>
        </button>
        <button mat-menu-item routerLink="/cart">
          <mat-icon>shopping_cart</mat-icon>
          <span>Ver Carrinho</span>
        </button>
        <button mat-menu-item routerLink="/orders">
          <mat-icon>history</mat-icon>
          <span>Ver Pedidos</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="accountService.logout()">
          <mat-icon>logout</mat-icon>
          <span>Sair</span>
        </button>
      </mat-menu>
      <button mat-stroked-button color="primary" [matMenuTriggerFor]="appMenu">
        <strong>Bem-Vindo {{ user.displayName }}</strong>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </ng-container>
  </div>
</mat-toolbar>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
