<div class="container mt-4">
  @if((cartService.cartSource$ | async) === null){
    <div>
      <p>Não há produtos no carrinho ainda.</p>
    </div>
  }
  @if((cartService.cartSource$ | async); as cart){
    <ng-container >
      <div class="container">
        <div class="row">
          <app-cart-summary
            (addItem)="incrementQuantity($event)"
            (removeItem)="removeItem($event.id, $event.quantity)"
          ></app-cart-summary>
        </div>

        <div class="row">
          <div class="col-6 offset-6">
            <app-order-totals></app-order-totals>
            <div class="d-grid">
              <a routerLink="/checkout" class="btn btn-outline-primary py-2">
                Proceder para o checkout
              </a>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  }
</div>
